* {
    box-sizing: border-box;
}

body{
margin: 0;
margin-bottom: 20px;
height: 2000px;
}

h1{
  font-size: 40px;
  color: #0D4715;
  margin: 0px 70px 30px;
}

h2{
  margin: 0px 0px 20px 0px;
}


/*INICIO MENU-SUPERIOR*/
.menu-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 80px 0px 80px;
  padding: 10px;
  font-family: sans-serif;
}

.menu-superior span{
  color: #0D4715;
  font-size: 14px;
  font-weight: bold;
}     

.menu-superior p{
  color: #0D4715;
  font-size: 28px;
  font-weight: bold;
  margin: 0px;
} 

ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0px;
  color: #0D4715;
  font-weight: bold;
}

li{
  font-size: 18px;
  padding: 5px;
}

/*INICIO EDUCAÇÃP DE QUALIDADE*/
.container-educacao{
  display: flex;
  max-width: 1200px;
  height: 500px;
  margin: 40px 80px 40px 80px;
}

.educacao-de-qualidade{
  max-width: 500px;
}
.educacao-de-qualidade h1{
  color: #0D4715;
  margin: 0px 0px 20px;
  max-width: 500px;
}

.educacao-de-qualidade p{
 font-size: 18px; 
 color: #3D5300;
}

.educacao-de-qualidade a{
 color: #0D4715; 
 font-size: 16px; 
 display: inline-block;
 text-align: center; 
 font-weight: bold;
 text-decoration: none;
 background-color: #FFCF50;
 padding: 5px 40px;
 border-radius: 10px;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
 
}

iframe{
  width: 700px;
  height: 350px;
  padding-left: 100px;
  border: none;
  
}


/*INICIO NOSSOS-CICLOS*/

.container-ciclos {
  font-family: "poppins", sans-serif;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 80px;
}

.container-ciclos img{
  height: 450px;
  width: 350px;
  border-radius: 5px;
}

.container-ciclos p{
  margin: 0px 0px;
}

.ensino-fundamental1{
color: #FEBA17;
  
}

.ensino-fundamental2{
color: #16C47F;
  
}

.ensino-medio{
color: #6D28D9;
  
}

/*INICIO DO FOOTER*/

.container-footer{
  display: flex;
  gap: 60px;
  background-color: #0D4715;
  height: 300px;
  margin-top: 60px;
}

.footer a{
  display: block;
  font-family: sans-serif;
  color: #fff;
  margin-top: 20px;
  margin-left: 70px;
  text-decoration: none;
}

.redes{
  display: flex;
  width: 40px;
  gap: 20px;
}

.redes img{
  width: 40px;
}




