* {
    box-sizing: border-box;
}

body{
margin: 0;
margin-bottom: 20px;
height: 3000px;
}

h1{
  color: #0D4715;
  margin: 0px 70px;
}

h2{
  margin: 0px 0px 20px 0px;
}


/*INICIO MENU-SUPERIOR*/
.menu-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 60px 0px 60px;
  padding: 10px;
}

.menu-superior span{
  color: #0D4715;
  font-size: 10px;
  font-weight: bold;
}     

.menu-superior p{
  color: #0D4715;
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
} 

ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0px;
  color: #0D4715;
  font-weight: bold;
}

li{
  font-size: 16px;
  padding: 5px;
}

/*INICIO EDUCAÇÃP DE QUALIDADE*/
.container-educacao{
  display: flex;
  max-width: 2000px;
  height: 400px;
  margin: 40px 70px 40px 70px;

}

.educacao-de-qualidade{
  max-width: 500px;
}
.educacao-de-qualidade h1{
  color: #0D4715;
  margin: 0px 0px 20px;
  max-width: 500px;
}

.educacao-de-qualidade p{
 color: #626F47;
}

.educacao-de-qualidade a{
 color: #0D4715; 
 font-size: 16px; 
 display: inline-block;
 text-align: center; 
 font-weight: bold;
 text-decoration: none;
 background-color: #FFCF50;
 padding: 5px 40px;
 
}


iframe{
  width: 300px;
  height: 200px;
  align-items: end;
}


/*INICIO NOSSOS-CICLOS*/

.container-ciclos {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 55px;
}

.container-ciclos img{
  max-height: 400px;
}

.container-ciclos p{
  margin: 0px 0px;
}






